*{
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing:border-box;
    margin: 0px;
}

body{
margin:0;
display: flex;
flex-direction: column;
}
section{
position:relative;
width:100%;
min-height:100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content:flex-start;
background:url(bgbg.jpg);
background-size:cover;
background-position:center;


}
header{
position:relative;
top:0;
width:100%;
padding:100px;
margin:10;
display :flex;
justify-content:space-between ;
align-items:center;
}
header .logo{
position:relative;
color:white ;
font-size:50px;
text-decoration:none ;
text-transform:uppercase ;
font-weight:800;
letter-spacing:1px;
}
header .navigation a{
top:2;
right:2;
color:#000;
background:#fff;
text-decoration:none ;
text-transform:uppercase ;
padding : 2px 15px;
letter-spacing:1px;
border-radius:20px;
margin-left: 100px; /* Add margin to separate the logo and login */

}
.content{
max-width:1150px;
margin:60px 200px;
}

.website-content{
    max-width:850px;
    margin:60px 200px;
    background-color:rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    border-radius: 10px;
    flex-wrap:wrap;

}
.star
{
background-color:#dfb200;
height:8.500001907348633px;
width:8.999999046325684px;
padding:0px;
border-style:hidden;
outline:none;
margin:5px;
}

.content .info h2{
color:	white;
font-size:30px;
text-transform:uppercase ;
font-weight:800;
letter-spacing:2px;

 }
 .content .info p {
 font-size:16px;
 font-weight:500;
 margin-bottom:40px;
 color:white;}

 .rating{
    display: flex;
    background-color: aliceblue;
    border-radius: 10px;
 }

 .links-and-ratings{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    margin: 10px;

 }


.result-content
{
   display: flex;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
   width: 80%;
   padding:20px ;
   background-color:rgba(255,255,255,0.5);
   border-radius: 10px;
}

.video
{
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar{
            margin: 55px;
            padding: 25px;
            top:100px;

        }
        #submit-search{
            background-color: #008000; /* Green */
            border: none;
            color:white;
            padding: 10px;
            border-radius: 10%;
            cursor: pointer;
        }
        #submit-search button:hover{
            color:white;
            border-radius: 10%;
            background-color: #006400;
        }
        .teacher-profiles {
            flex: 2;
            padding: 20px;
            background-color:peachpuff; 
            display: flex;
            width:250%;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .teacher-profile{
            width:100vw;
            margin-bottom: 20px;
            padding: 20px; 
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            max-width:450px;
            
        }
        .teacher-profile img {
            max-width: 100%;
            height: auto;
        }
        .teacher-filters button {
            background-color: #008000; /* Green */
            border: none;
            color:white;
            padding: 10px;
            border-radius: 10%;
            cursor: pointer;
        }
        .teacher-filters button:hover {
            color:white;
            border-radius: 10%;
            background-color: #006400; /* Darker Green on Hover */
        }
        
