{% extends "template.html" %}
{% block content %}
    <div class="content">
        <div class="info">
            <h2>Discover, Connect, Thrive<br><span>Ultimate Learning Journey!</span></h2>
            <p>At EaseLearn, we believe that every student deserves a personalized and transformative learning experience.Whether you're seeking guidance in a specific subject or looking for the best content to fuel your learning journey, we're here to help you unlock your full potential. Join us today and embark on an educational adventure like no other, where the pursuit of knowledge knows no bounds.</p>
        </div>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <h2>Search here for a topic</h1>
            {{ form.user_input }}
            {{ form.search_type }}
            {{ form.submit }}
        </form>
{% endblock content %}
