<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Profiles</title>
    <link rel="stylesheet" href= "static/styles2.css">
</head>
<body>
    <h2><a href="#" class="logo" >EASELEARN</a></h2>
    <div class="container">
        <div class="search-bar">
            Search for teachers <input id="search-key">
            <button id="submit-search" type="submit">search</button>
           Select Category
            <select id="categoryFilter">
                <option value="lecture">Lecture</option>
                <option value="auditory">Auditory</option>
                <option value="practical">Practical</option>
            </select>
            <button onclick="filterTeachers()">Filter</button>
        </div>
        <div class="teacher-profiles">
        {% for teacher in teachers %}
        <div class="teacher-profile">
            <h2>{{ teacher.user_name }} - {{ teacher.type }}</h2>
            <div>
            <button id="enroll">enroll</button>
            <button id="view-content">view schedule and notes</button>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    
</body>
</html>