<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <label for="user_type">Select user type:</label>
            {{ form.user_type(id="user_type") }}
            <label for="username">Username:</label>
            {{ form.user_name }}

            <label for="password">Password:</label>
            {{ form.password }}

            {{form.submit }}
        </form>
    </div>
</body>
</html>
